// app global css in SCSS form
@import './quasar.variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:not(.q-icon) {
  font-family: 'Manrope', sans-serif !important;
}

.q-field {
  .q-field__native {
    color: $primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  &.q-field--error {
    .q-field__inner {
      background-color: #ee6f2d33;
    }
  }
}

.login-form {
  .q-checkbox__bg {
    border: 2px solid $secondary;
    background-color: transparent !important;
    .q-checkbox__svg {
      color: $secondary;
    }
  }
}

.q-checkbox__bg {
  border: 2px solid $primary;
  background-color: transparent !important;
  .q-checkbox__svg {
    color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.bg-aside {
  background-color: #fffaf1;
}

.q-table {
  thead {
    tr {
      .q-table--col-auto-width {
        .q-checkbox {
          display: none;
        }
      }
    }
  }
}

.q-table__top {
  padding: 0 !important;
}

.q-table--col-auto-width {
  padding-left: 0 !important;
}

.q-btn-dropdown__arrow {
  margin-left: 20px !important;
}

.actions-container {
  span {
    font-weight: 300;
  }
}
