// app global css in SCSS form
@import './quasar.variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:not(.q-icon) {
  font-family: 'Manrope', sans-serif !important;
}

.q-field {
  .q-field__native {
    color: $primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  &.q-field--error {
    .q-field__inner {
      background-color: #ee6f2d33;
    }
  }
}

.q-checkbox__bg {
  border: 2px solid $secondary;
  background-color: transparent !important;
  .q-checkbox__svg {
    color: $secondary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.bg-aside {
  background-color: #fffaf1;
}
